@model IEnumerable<Inventario.Models.Libro>

@{
    ViewData["Title"] = "Lista de libros";
}

<h1>Libros</h1>

<p>
    <a class="btn btn-success" asp-action="Create"> <i class="bi bi-plus"></i> Crear nuevo libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width:10%">Acciones</th>
            <th class="text-center"> 
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a class="bi bi-eye-fill text-dark" asp-action="Details" asp-route-id="@item.Id"></a>
                    <a class="bi bi-pencil-fill text-warning" asp-action="Edit" asp-route-id="@item.Id"></a>
                    <a class="bi bi-trash-fill text-danger" asp-action="Delete" asp-route-id="@item.Id"></a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>

        </tr>
}
    </tbody>
</table>
